@import "../../index.scss";

.todo-item {
  margin: 35px 0 0 0;
  width: 350px;
  background-color: rgba($violet, $alpha: 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-wrap: break-word;
  border-radius: 5px;

  .delete-btn__container {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    .todo-item__btn {
      width: 20px;
      cursor: pointer;
    }
  }

  .todo-text__container {
    width: 70%;
    display: flex;
    padding: 0 7px;
  }
}
